extends ./share/layout
block content
  .container
    .row
      .col-12
        h1 #{title}
        p User Name: #{userName}
        p Email: #{email}

  .container
    h1.
      Edit User Information
    form(name="EditProfile",method="post",action="/user/profile")
      p User Name:
        input(type="text", value= userName, name="username")
      p
        button(type="submit") submit to edit profile page

  .container
    h1.
      Change Password
    form(name="ChangePassword",method="post",action="/user/resetPassword")
      p User Name:
        input(type="text", placeholder="Password Length should be >= 5", name="password")
      p
        button(type="submit") submit to reset password

  .container
    h1.
      Change Password #{new Date().getUTCFullYear()}
    form(name="ChangePassword",method="post",action="/user/editProfile")
      p Date Of Birth
        - var currentTime = new Date().toISOString().split('T')[0];
        input(type="date", value=currentTime, name="dateOfBirth")
      p Gender:
        - var mygender = ["Female", "Male", "Other"];
        select(style="display:block;" name="gender")
          each val, index in mygender
            option(value=val) #{val}
      p
        button(type="submit") submit to update