extends ../share/layout
block content
    div.container
        div#title
            h3 #{title}
                h4 #{error}
        form(name="newRoom",method="post",action=action )
            p Config Name
            input(type="text", placeholder="New Config", name="title" value=asset.title)
            p Description
            input(type="text", placeholder="Welcome to my room config", name="description" value=asset.description)
            div#formButton
                button.btn(type="submit") submit
                a(href="/user/config")
                    button.btn#cancelButton(type="button") Cancel
