extends ../share/layout
block extraHeader
    style(type="text/css").
        td, th {
            border-style: solid;
        }
        li.nav-item.room_header{
            padding-left: 10px;
        }

block content
    div.container
        div
            .container
                h1(style='text-align: center;')
                    |  #{title}
                    h4 #{err}
        ul.nav.nav-tabs(role='tablist')
            li.nav-item.room_header
                a.nav-link.active(data-toggle='tab', href='#Room', role='tab') My Room List
            |
            li.nav-item.room_header
                a.nav-link(data-toggle='tab', href='#Config', role='tab') My Config List
            |
            li.nav-item.room_header
                a.btn.btn-info(style='', href="/user/room/newroom")
                    em.fa.fa-pencil Create Room
            |
            li.nav-item.room_header
                a.btn.btn-info(style='', href="/user/config/newconfig")
                    em.fa.fa-pencil Create Config
        // Tab panes
        .tab-content
            #Room.tab-pane.active(role='tabpanel')
                table.table.table-bordered.table-hover.table-sortable
                    thead
                        tr
                            th
                                | #
                            th
                                h2 My Room List
                    tbody
                        - var counter = 0;
                            each asset in rooms
                                tr
                                    - counter ++
                                    th #{ counter }
                                    td
                                        div.row
                                            div.col
                                                | Config Id: #{ asset._id } &nbsp&nbsp&nbsp
                                        div.row
                                            div.col
                                                | Room Id: #{ asset.room_uuid }
                                        div.row
                                            div.col
                                                | Title: #{ asset.title }
                                        - var time = asset.create_at.toISOString().split('T')[0];
                                        div.row
                                            div.col
                                                | Owner: #{ asset.room_owner.username } &nbsp&nbsp&nbsp
                                        div.row
                                            div.col
                                                | Room Create Date: #{ time }
                                        div.row
                                            div.col
                                                | Room Description: #{ asset.description }
                                    td
                                        div
                                            a.btn.btn-info(href="/user/room/" + asset._id + "/edit") edit config
                                        br
                                        div
                                            form(name="newCofig",method="post",action="/user/room/" + asset._id + "/delete")
                                                button.btn.btn-info(type="submit") delete
            |
            #Config.tab-pane(role='tabpanel')
                table.table.table-bordered.table-hover.table-sortable
                    thead
                        tr
                            th
                                | #
                            th
                                h2 My Config List
                    tbody
                        - var counter = 0;
                            each asset in configs
                                tr
                                    - counter ++
                                    th #{ counter }
                                    td
                                        div.row
                                            div.col
                                                | Config Id: #{ asset._id } &nbsp&nbsp&nbsp
                                        div.row
                                            div.col
                                                | Title: #{ asset.title }
                                        - var time = asset.create_at.toISOString().split('T')[0];
                                        div.row
                                            div.col
                                                | Config Owner: #{ asset.owner } &nbsp&nbsp&nbsp
                                        div.row
                                            div.col
                                                | Config Create Date: #{ time }
                                        div.row
                                            div.col
                                                | Config Description: #{ asset.description }
                                    td
                                        div
                                            a.btn.btn-info(href="/user/config/" + asset._id + "/edit") edit room
                                        br
                                        div
                                            form(name="newCofig",method="post",action="/user/config/" + asset._id + "/delete")
                                                button.btn.btn-info(type="submit") delete